@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");
@import url("./fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
}
/*숨김 콘텐츠*/
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
/*링크 스타일*/
a{
  color: : inherit;
  text-decoration: none;
  outline: none;
  
}
a:focus{
  box-shadow: 0 0 5px 1px #296897;
}
/*이미지기본설정*/
img{
  vertical-align: middle;
}
html{
  font-size: 10px;
}
body{
  background: #fff;
  color: #181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 300;
}
/* 컨테이너 */
.container{
  background: url("./images/bg_flower.png") no-repeat 50% 0,
#aaa linear-gradient(#ccc, #eee 45% #fff 70%,#fff 100%) ;
 background-color:#ccc ;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background: #fff;
  position: relative;
  padding: 0 0 15px 15px;
  border-radius: 5px;
  /*padding-bottom: 5px;*/
 }

/*로고*/
.logo a{
 /*background: green;
 margin-top: 0;
 margin-bottom: 0;*/
 position: absolute;
top: 47px;
left: 65px;
margin-top: 0;
margin-bottom: 0;

}
/*멤버 링크*/
.member{
  margin: 0 23px 0 30px;
  padding-left:0;
  list-style-type: none;
  text-align: right;  
  font-size: 0 ;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.4rem;
}
.member a{
  padding: 0.5em;
  text-transform: uppercase;
}
/*메인메뉴*/
.navagation{
  padding-left: 32px;
}
.menu{
height:49px;
  margin: 0 30px;
  padding-left: 230px;
  list-style: none;
  border-top: 2px solid #000;
  border-radius:0 0  5px 5px ;
 background: rgb(212,92,24);
background: linear-gradient(180deg, rgba(212,92,24) 0%, rgba(121,35,9,1) 35%, rgba(121,35,9,1) 70%, rgba(36,13,0,1) 100%);

}
.menu-item{
  position: relative;
  float: left;
  border-left:2px solid rgba(255,255,255,0);
}


.btn-menu{
   /*display:block;*/
  padding:1em 4.5em;
  color:#ffff;
  font-weight: 700;
  font-size:1.5rem;
  text-shadow: 1px 0 0 #000,
               0 1px 0 #000,
               -1px 0 0 #000,
               0 -1px 0 #000;
 white-space: nowrap;
}
.menu-act .btn-menu{
  color:#ff0
  }
.btn-menu:focus{
  box-shadow: initial;
}
.menu-act .btn-menu::after{
 content :"";
 background: pink;
 display: block;
 border-top :2px solid #000;
 position: relative;
 top: 1em;
}
.sub-menu{
  display: none;
  position: absolute;
  padding-left: 0;
  list-style: none ;
  top:49px;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left:0;
  }
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0; 
}
.menu-act .sub-menu{
  display: block ;
}

.sub-menu li, sub-menu a{
display: inline-block !important;
}
.sub-menu a{
padding:0.5em 0.5em 0.5em 0;
}

.sub-menu a:focus{
 box-shadow: 0 0 0 0;
}

 /* 비주얼 */
 /*비주얼 애니메이션*/
 @keyframes textAni{
   0%{
font-size:12px;
color: rgba(0,0,0,0);
 transform: translate(0, 0);
   }
   100%{
font-size:24px;
color: rgba(0,0,0,1);
 transform: translate(400px, 75px);
   }
 }
 @keyframes bgAni{
   0%{opacity: 1;}
   100{opacity: 0;}
 }
.visual{
  height: 120px;
  position: relative;

}
.visual::before, .visual::after{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  animation-name: bgAni ;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.visual::before{
  background: url("./images/ani_flower_01.png") no-repeat 0 -10px,
   url("./images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  animation-delay: 500ms;
  background: url("./images/ani_flower_03.png") no-repeat 300 0,
   url("./images/ani_flower_04.png") no-repeat 800px 0;
}
.visual::after{
/*background: hsla(200, 50%, 50%, );*/
}
.visual-text{
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
 /* background: #ff0;*/
  margin: : 0;
  animation-name : textAni;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
}


/* 메인 콘텐츠 */
.main{
  background: #ffff;
  border-radius: 15px 15px 0 0;
  padding: 30px 15px;
  overflow: hidden;
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-around; */
}
.group{
  float: left;
  margin-left: 10px;
  margin-right: 15px;
  min-height: 200px;
}
.group1{
  
  width: 250px;
}
.group2{
  
  width: 380px;
}
.group3{
  
  width: 190px;
}
/*로그인*/
.login{
  background: radial-gradient(circle at right top, rgb(202, 102, 43),  rgb(196, 53, 14, 1));
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #aaaa;
  padding:10px;
}
.login-heading{
  color:#ff0;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 10px 10px;
}
.login-form{
background: #fff;
border-radius: : 5px 5px 0 0;
padding: 10px 10px 0 10px ;
}
.login-form fieldset{
position: relative;
 padding :0;
border:none;
margin:0;
background: yellow;
border-bottom: 1px solid #aaa;
padding-bottom: 5px;
}
.user-email, .user-pw{
  margin-bottom: 5px;
}
[for="userEmail"],[for="userPwd"]{
  width:4em;
  display: inline-block;

}
[name="userId"], [name="userPwd"]{
width:90px;
height:24px;
border:1px solid #aaa;
padding: 0 0.5em
}

.btn-login{
  position: absolute;
  top :0;
  right: 0;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 3px;
  color:#fff;
  padding:0;
  background: rgb(212,92,24);
}
.sign{
background: #fff;
padding :10px 10px 10px 5px;
border-radius: 0 0 5px 5px;
list-style: none;
margin:0;
display: flex;
justify-content: space-between;
}
.sign a::before{
 color: rgba(212,92,24); 
}
/*유효성 검사 배너*/
.validation-list{
  margin: 25px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left:0;
  list-style: none;
 
}
.validation-list a{
 display: block;
 border: 1px solid #aaa;
 border-radius: 30px;
 line-height: 30px;
 height: 30px;
 margin: 10px 0;
 padding-left: 45px;
 background: url("./images/validation_icon.png") no-repeat 20px 50%
 linear-gradient(#ccc, #eee);

  /* display: blue;
  background: rgb(125, 130, 133);
  right: 50px;*/

}
/*웹관련 용어*/
.term{
  background: #ccc linear-gradient(#ccc,#eee);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:15px;
 /* border:1px solid #aaa;
  border-radius: 20px;
  background: grey;
  padding: 15px;
}*/
}
.term-heading{
margin:0 0 10px 0;
font-size: 1.5rem;
font-weight: 700;
}
.term-list{
margin: 0;
overflow:hidden;
}
.term-list dd{
  margin-left: 0;
  }
.term-list-subject, .term-list-blief{
  float: right;
  width: 145px;
}
.term-list-subject{
  columns: #296897;
  margin-top: -2px;
  font-weight: 400;
}
.term-list-thumnial{
 float: left;
}
.term-list-blief{
margin-top:5px;
line-height: 1.5;
}
/*검색*/
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  border:1px solid #aaa;
  border-bottom-color:#fff;
  border-radius: 15px 15px 0 0;
  padding:15px 25px 10px ;
  
}
.search-form fieldset{
  border :0;
  margin:0;
  padding:0;
}
.search-wrapper *{
   display: flex;
  justify-content: space-between;
  align-items: center;
  }
[type="search"],.btn-search{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 24px;
  
}
[type="search"]{
  width: 200px;
  padding: 0 0.5em;
}
.btn-search{
  color : #fff;
  background: #222;
  font-size:1.2rem;
  padding: 0 0.85em;
}

/*공지사항 및 자료실*/
.board{
  margin-top: 20px;
  position: relative;
  padding-top: 45px;
}
.notice-list, .notice-more,
.pds-list, .pds-more{
  display: none;
}
.tab-act .notice-list, .tab-act .notice-more,
.tab-act .pds-list, .tab-act .pds-more{
  display: block;
}
.tab{
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 0;
}
.pds-heading{
  left: 81px;
}
.tab-act .tab{
  z-index: 10;
}
.tab a{
  display: block;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 0.5em 1em;
  color: #666;
  background: #ccc linear-gradient(#ccc, #eee);
}
.tab-act .tab a{
  color: rgb(196,53,14);
  border-color: rgb(196,53,14) rgb(196,53,14) transparent rgb(196,53,14);
  background: #fff;
}
.notice-list, .pds-list{
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.notice-list li, .pds-list li{
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.notice-list a, .pds-list a{
  width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice-more, .pds-more{
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  padding: 0.5em;
}
.notice-more::before, 
.pds-more::before, 
.news-more::before, 
.favorite::before{
  color: hsl(110, 50%, 30%);
}

/*새소식*/
.news{
  margin-top: 20px;
  position: relative;
}
.news::before{
  content:"";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(90deg, #aaa, #eee);
}
.news-heading{
  color: rgb(196,53,14);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 35px 0;
  }

.news-item{
  padding-left:130px;
  }
.news-item-heading{
  margin:0 0 5px 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.news-item-thumnail{
  position: absolute;
  left:0;
  top: 54px;
  margin: 0;
  text-align: center;
}
.news-item-thumnail img{
  margin-bottom:15px;
  box-shadow: 0 15px 25px 5px #aaa;
}
.news-item-brief{
line-height: 1.5;
margin: 10px 0 0 0;
}
.news-more{
  position:absolute;
  top: -0.5em;
  right: -0.5em;
  padding-right: 0.5em;
}
  /*.news-heading{
 color:orangered;
}
.news-item-heading, .news-item-date{
  margin-left: 0.5em;
}
.news-item-date{
  top:0;
  left: 0;
}
.news-item-brief{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.news-item-thumbnail{
  position: fixed;

}
*/
/**/
.gradient-box{
border: 1px solid #aaa;
border-radius: 5px;
background: #ccc;

width: 300px;
height: 300px;
}
/*신규이벤트및 관련사이트*/
.event-heading, .related-heading, .favorite-heading {
font-size:1.6rem;
font-weight: 800;
margin-top:0;
margin-bottom: 10px;
}
.event{
  border-bottom: 10px;
  padding :relative;
 }
.even p{
  line-height: 1.5;
}
.event-img{
  border:1px solid #ccc;
  box-shadow: 5px 5px 0 0 #aaa;
 }
 .event em{
   font-style: normal;
 }
 .btn-event{
    position: absolute;
   
 }
 .btn-event-prev, .btn-event-next{
  vertical-align: top;
  background: #999 url("./images/back_forward.png");
  width: 19px;
  height: 18px; 
  display: inline-block;
  overflow: hidden;

}
.btn-event-next{
  background-position: -36px 0;
}
.related{
margin-top: 10px;
 }
.related-list{
  margin: 0;
  padding-left: 0;
  list-style: none;
  background: #fff;
  height: 27px;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  transition-property: padding, height ;
  transition-duration: 200ms, 400ms;
  transition-delay: 0ms, 200ms;
   }
  .related-list li{
    padding:2px;
  }
  .related-list a{
    line-height: 21px;
    display: block;
   padding-left:2em;
  }
.related-list:hover{
  height:147px ;
  padding: 10px 0;
 }
/*인기 사이트*/
.favorite{
  margin-top: 20px ;
}
.favorite-list{
  margin:0;
  padding-left:0;
  list-style-type: none;
  counter-reset:number;
  }
  .favorite-list li{
    counter-increment: number;
    margin-top: 0 ;
  }
.favorite-list li::before{
  content: counter(number);
  background: #999;
  color: #fff;
  padding: 0 0.5em;
  border-radius: 3px;
  margin-right: 5px; 
font-size: 1.2rem;
}
.up, .down, stop{
  margin-left:auto ;

  display: inline-block;
  background: url("./images/rank.png");

} 
.favorite-more{

}


/* 슬로건 */
.slogan{
  background: lime;
  height: 10vh;
}
/* 푸터 */
.footer-bg{
  background:  #aaa linear-gradient(#ccc, #eee 35% #fff 65%,#fff 100%);
}
.footer{
  background: pink;
  height: 10vh;
}